<%= form_with(model: [ :admin, @railway_station], local: true) do |form| %>
  <%= render 'common/errors', resourse: @railway_station %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :railway_station_title %>
  </div>
<p></p>
  <div class="actions">
    <button class="btn btn-info border border-light" type="submit"><%="#{ @railway_station.new_record? ? 'Создать' : 'Изменить' }" %></button>
  </div>
<% end %>
