<%= form_with(model: [:admin, route], local: true) do |form| %>
  <%= render 'common/errors', resourse: @route %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field  :name, id: :route_name %>
  </div>

    <div class="field">
    <%= form.label :railway_station_ids, 'Выбрать станции' %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, {multiple: true} %>
 
  </div>

  <div class="actions">
     <button class="btn btn-info border border-light" type="submit"><%="#{ @route.new_record? ? 'Создать' : 'Изменить' }" %></button>
  </div>
<% end %>
