<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
  <strong>На станции</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %> 
  <% else %>
   Не указано
  <% end %>

 </p>
  <strong>Вагонов в поезде: </strong>
 <% if @train.wagons.any? %>
  <%=  @train.wagons.count %>
  </p>

  <% Wagon::TYPE_WAGON.each do |type| %>
    <%= type = type.downcase.sub('wagon', '').to_sym %>  
    <%=  @train.wagons.send(type).count %>
     </p>
    <% Wagon::PLACE.each do |place| %>
      <%= place %>
      <%= @train.wagons.send(type).sum(place) %>
      </p>
    <% end %>
  <% end %>

   <% else %>
   В поезде нет вагонов
  <% end %>

</p>
  <strong>На маршруте</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
   Маршрут не назначен
  <% end %>
 
</p>
<%= link_to 'Редактировать', edit_train_path(@train) %>
<%= link_to 'Назад', trains_path %>
