<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
  <strong>На станции</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %> 
  <% else %>
   Не указано
  <% end %>

 <p>
  <strong>Вагонов в поезде: </strong>
  <% if @train.wagons.any? %>
    <%=  @train.wagons.count %>
    <% else %>
    В поезде нет вагонов
  <% end %>
  </p>

<p>
 Нумерация вагонов 
  <%= @train.sort_wagons ? "С головы поезда" : "С хвоста поезда" %>
</p>
  
   <% @train.wagons.ordered(@train).each do |wagon| %>
     <%= link_to "Вагон № #{wagon.number}", wagon %> |
   <% end %>
 </p>
 <p>
   <%= link_to 'Добавить вагон', new_train_wagon_path(@train) %>
 </p>

<p>
<% Wagon::TYPE_WAGON.each do |type| %>
     <%= @train.wagons.where(type: type).count %>
     <%= type %>
 :
    <% Wagon::PLACE.each do |place| %>
      <%= place %>
 - 
    <%= @train.place_count(type, place) %>
;
   <% end %>

<% end %>
</p>

<p>
  <strong>На маршруте</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
   Маршрут не назначен
  <% end %>
 
</p>
<%= link_to 'Редактировать', edit_train_path(@train) %>
<%= link_to 'Назад', trains_path %>
