<p id="notice"><%= notice %></p>

<h1>Список билетов</h1>

<table class="table table-striped  text-dark" style="background-color:#00FFFF">
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= link_to 'Показать', ticket %></td>
 
        <td><%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить билет', search_path %>
