  <%= form_with(model: wagon, local: true) do |form| %>
  <%= render 'common/errors', resourse: @wagon %>
   

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field  :number, id: :wagon_number %>
  </div>

  <div class="field">
    <%= form.label :low_place %>
    <%= form.text_field  :low_place, id: :wagon_low_place %>
  </div>

   <div class="field">
    <%= form.label :top_place %>
    <%= form.text_field  :top_place, id: :wagon_top_place %>
  </div>
 


  <div class="field">
   <%= form.label :wagon_type %>
   <%= form.radio_button(:wagon_type, "coupe", checked: true) %>
   <%= label_tag(:wagon_type_coupe, "coupe") %>
   <%= form.radio_button(:wagon_type, "plackart") %>
   <%= label_tag(:wagon_type_plackart, "plackart") %>
    
  </div>

   <div class="field">
    <%= form.label :train, 'Выбрать поезд' %>
    <%= form.collection_select :train_id, Train.all, :id, :number, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @wagon.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
