<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

  <strong>Поезда на маршруте:</strong>
  <% if @route.trains.present? %>
    <% @route.trains.each do |train| %>
      <%= train.number %>
    <% end %>
  <% else %>
    Поездов на маршруте нет
  <% end %>

</p>
  <strong>Станции маршрута: </strong>
</p>

</ul>
  <% if @route.railway_stations.present? %>
    <% @route.railway_stations.each do |station| %>
     <li> <%= station.title %></li>
    <% end %>
</ul>
  <% else %>
   Станции отсутствуют
  <% end %>
</p>


</p>
<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
