<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('admin.trains.number') %></strong>
  <%= @train.number %>
</p>
  <strong><%= t('admin.trains.current_station') %></strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %> 
  <% else %>
   Не указано
  <% end %>

 <p>
  <strong><%= t('admin.trains.wagons') %> </strong>
  <% if @train.wagons.any? %>
    <%=  @train.wagons.count %>
    <% else %>
    В поезде нет вагонов
  <% end %>
  </p>

<p>
  <%= @train.sort_wagons ? t('admin.trains.head') : t('admin.trains.tail') %>
</p>
  
   <% @train.wagons.ordered(@train).each do |wagon| %>
     <%= link_to "Вагон № #{wagon.number}", [:admin, wagon] %> |
   <% end %>
 </p
 <p>
   <%= link_to 'Добавить вагон', new_admin_train_wagon_path(@train) %>
 </p>

<p>
<% Wagon::TYPE_WAGON.each do |type| %>
     <%= @train.wagons.where(type: type).count %>
     <%= type %>
 :
    <% Wagon::PLACE.each do |place| %>
      <%= place %>
 - 
    <%= @train.place_count(type, place) %>
;
   <% end %>

<% end %>
</p>

<p>
  <strong><%= t('admin.trains.route') %></strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
   <%= t('admin.trains.route_absents')%>
  <% end %>
 
</p>
<%= link_to t('common.edit'), edit_admin_train_path(@train) %>
<%= link_to t('common.back'), admin_trains_path %>
