  <%= form_with(model: [:admin, @train, wagon.becomes(Wagon)], local: true) do |form| %>
  <%= render 'common/errors', resourse: wagon %>
   

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field  :number, id: :wagon_number %>
  </div>

<div class="field">
  <%= form.label :type %>
  <% Wagon::TYPE_WAGON.each do |type| %>   
   <%= form.radio_button(:type, type) %>
   <% type_n = 'type_' + type.downcase.sub('Wagon', '').to_s + '_wagon' %>
   <%= label_tag(type_n.to_sym, type) %>
  <% end %>
  </div>


  <% Wagon::PLACE.each do |place| %>  
  <div class="field">
    <%= form.label place %>
    <% place_n = 'wagon_' + place.to_s %>
    <%= form.text_field  place, id: place_n.to_sym %>
  <% end %>    
  </div>

 <div class="field">
    <%= form.label :train, 'Выбрать поезд' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>
  
  <div class="actions">
   <button class="btn btn-info border border-light" type="submit"> <%="#{ @wagon.new_record? ? 'Создать' : 'Изменить' }"%></button>
  </div>
 <p> </p>
<% end %>
