  <%= form_for [:admin, @train, wagon.becomes(Wagon)] do |form| %>
  <%= render 'common/errors', resourse: wagon %>
   

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field  :number, id: :wagon_number %>
  </div>

<p>
  <div class="field">
    <%= form.label :type %>
    <%= form.select :type, Wagon::TYPE_WAGON, id: 'wagon_type' %>
  </div>
 </p>




  <% Wagon::PLACE.each do |place| %>  
  <div class = 'field' >
    <%= form.label place %>
    <% place_n = 'wagon_' + place.to_s %>
    <%= form.number_field  place, id: place_n.to_sym, class: 'place' %>
  <% end %>    
  </div>

 <div class="field">
    <%= form.label :train, 'Выбрать поезд' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>
 <p> 
  <div class="actions">
   <%= form.submit t("#{wagon.new_record? ? :create : :update}"), :class => 'btn btn-info border border-light'%>
  </div>
  </p>
 <p> </p>
<% end %>
