<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

</p>

<%= link_to 'Перейти на главную', root_path %>
</p>
</p>
2018 год Павлова Наташа Учебный проект в 
<%= link_to 'онлайн-школе Thinknetica', 'http://thinknetica.com' %>

  </body>
</html>
