<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
   <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "common/panel"%>
   
  <div class= "container-fluid" style="background-color:#00FFC0" %>
    <div class= "row" %>
      <div class= "col-lg-12" %>
  
    <%= yield %>
      </div>
    </div><!--/row/-->
  </div><!--/container/-->

<p></p>
<p>
<td>
2018 год NS Учебный проект  
<%= link_to 'TUTU', ' http://moscowwalking.ru' %>
</td>
</p>
  </body>
</html>
