<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p id="notice" class="notice"><%= notice %> </p>
    <p class="alert"><%= alert %> </p>
    <% if user_signed_in? %>
      <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
<h2>   <%= "Привет, #{current_user.first_name}!" %> </h2>
      <p> Аккаунт:  <%= current_user.email %> </p>
    <% else %>
      <%= link_to "Войти", new_user_session_path %> 
    <% end %> 

    <%= yield %>

<p>

<td><%= link_to 'Перейти на главную', root_path %></td>
</p>
<p>
<td>
2018 год NS Учебный проект  
<%= link_to 'TUTU', ' http://moscowwalking.ru' %>
</td>
</p>
  </body>
</html>
